<h2 mat-dialog-title mat-dialog-close>X</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="alertForm">
    <div class="form-line">
      <span>{{ data.system_name }}</span>
      <label>{{ 'create_alert_dialog.system_name' | translate }}</label>
    </div>
    <div class="form-line">
      <mat-form-field class="inline-form" appearance="outline">
        <input class="inp" matInput [matDatepicker]="picker" formControlName="openingDate" />
        <mat-datepicker-toggle
          [disableRipple]="true"
          matIconPrefix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <label>{{ 'create_alert_dialog.opening_date' | translate }}</label>
    </div>

    <div class="form-line">
      <mat-form-field appearance="outline">
        <input class="inp" matInput formControlName="requestNumber" />
      </mat-form-field>
      <label>{{ 'create_alert_dialog.request_number' | translate }}</label>
    </div>

    <div class="form-line">
      <mat-form-field appearance="outline" class="custom-select-single">
        <mat-select formControlName="issueType">
          <mat-option *ngFor="let type of issueTypes" [value]="type">{{ malfunctionTypesMap[type] }}</mat-option>
        </mat-select>
      </mat-form-field>
      <label>{{ 'create_alert_dialog.issue_type' | translate }}</label>
    </div>

    <div class="form-line">
      <mat-form-field appearance="outline">
        <input class="inp" matInput [matDatepicker]="pickerb" formControlName="followUpDate" />
        <mat-datepicker-toggle
          [disableRipple]="true"
          matIconPrefix
          [for]="pickerb"
        ></mat-datepicker-toggle>
        <mat-datepicker #pickerb></mat-datepicker>
      </mat-form-field>
      <label>{{ 'create_alert_dialog.follow_up_date' | translate }}</label>
    </div>

    <div class="form-line area">
      <mat-form-field appearance="outline">
        <textarea matInput formControlName="reportStatus"></textarea>
      </mat-form-field>
      <label>{{ 'create_alert_dialog.report_status' | translate }}</label>
    </div>
  </form>

  <div class="buttons">
    @for(s of statusKeys; track s) {
      @if('create_alert_dialog.statuses.'+s | translate; as tag) {
        <button mat-flat-button [disabled]="alertForm.disabled" (click)="addToTextarea(tag)">{{tag}}</button>
      }
    }
  </div>


</mat-dialog-content>
<mat-dialog-actions align="end" >
  <button mat-stroked-button mat-dialog-close [disabled]="alertForm.disabled">
    {{ 'create_alert_dialog.buttons.cancel' | translate }}
  </button>
  <button mat-flat-button (click)="save()">
    {{ 'create_alert_dialog.buttons.save' | translate }}
    @if(alertForm.disabled) {
      <mat-progress-spinner
        diameter="15"
        mode="indeterminate"
      ></mat-progress-spinner>
    }
  </button>
</mat-dialog-actions>
