<app-header></app-header>
<app-filters></app-filters>
<div class="container">
  <div class="headline-1">
    Total KV: <span>{{totalKv | async | number: '1.2-2'}}</span> | Systems that appear in the table: <span>{{monitorFilteredCount | async}}</span> | Of which were checked today: <span>12</span> | Of which you should check today: <span>0</span> | Time to read data from the server: <span>12:47:29</span>
  </div>
  <div class="headline-2">
  </div>
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    (matSortChange)="onSort($event)"
  >
    <ng-container matColumnDef="notes">
      <th mat-header-cell *matHeaderCellDef>Notes</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon [style.color]="element.comments ? '#1287DE' : '#141415'">
          {{element.comments ? 'error' : 'error_outline'}}
        </mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button class="bell-button" mat-button mat-flat-button [matMenuTriggerFor]="menu">
          <mat-icon class="arrow">arrow_drop_down</mat-icon>
          <mat-icon class="bell">notification_add</mat-icon></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Action 1</button>
          <button mat-menu-item>Action 2</button>
          <button mat-menu-item>Action 3</button>
        </mat-menu>
      </td>
    </ng-container>

    <ng-container matColumnDef="openAlerts">
      <th mat-header-cell *matHeaderCellDef>Open Alerts</th>
      <td mat-cell *matCellDef="let element">{{ element.open_issues | issuesCount: 'open' }}</td>
    </ng-container>

    <ng-container matColumnDef="clearedAlerts">
      <th mat-header-cell *matHeaderCellDef>
        Cleared Alerts
      </th>
      <td mat-cell *matCellDef="let element">{{ element.open_issues | issuesCount: 'closed' }}</td>
    </ng-container>

    <ng-container matColumnDef="startOfYear">
      <th mat-header-cell *matHeaderCellDef>
        Start of Year
        <div class="description">Index relative to expectations</div>
      </th>
      <td mat-cell *matCellDef="let element">
        <span>{{ element?.since_year_average }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="startOfMonth">
      <th mat-header-cell *matHeaderCellDef>
        Start of Month
      </th>
      <td mat-cell *matCellDef="let element">
        <span>{{ element?.since_month_average }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="lastMonth">
      <th mat-header-cell *matHeaderCellDef>
        Last Month
        <div class="description">system daily average</div>
      </th>
      <td mat-cell *matCellDef="let element">{{ element?.last_month_average | number: '1.2-2' }}</td>
    </ng-container>

    <ng-container matColumnDef="today">
      <th mat-header-cell *matHeaderCellDef>Today</th>
      <td mat-cell *matCellDef="let element">
        <span>{{ element?.today_average | number: '1.2-2' }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="monthly">
      <th mat-header-cell *matHeaderCellDef>
        Monthly
        <div class="description d-600">Benchmarks that compare to the environment</div>
      </th>
      <td mat-cell *matCellDef="let element">
        <span>{{ element?.monthly_comparable  }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="weekly">
      <th mat-header-cell *matHeaderCellDef>Weekly</th>
      <td mat-cell *matCellDef="let element">
        <span>{{ element?.weekly_comparable  }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="threeDays">
      <th mat-header-cell *matHeaderCellDef>Three Days</th>
      <td mat-cell *matCellDef="let element">{{ element?.three_days_comparable }}</td>
    </ng-container>

    <ng-container matColumnDef="yesterday">
      <th mat-header-cell *matHeaderCellDef>Yesterday</th>
      <td mat-cell *matCellDef="let element">{{ element?.yesterday_comparable }}</td>
    </ng-container>

    <ng-container matColumnDef="today_comparable">
      <th mat-header-cell *matHeaderCellDef>Today</th>
      <td mat-cell *matCellDef="let element">{{ element?.today_comparable }}</td>
    </ng-container>

    <ng-container matColumnDef="communication">
      <th mat-header-cell *matHeaderCellDef>
        Communication
        <div class="description"></div>
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon [style.color]="element.communication ? '#60B952' : '#FC5507'">
          {{ element.communication ? 'wifi' : 'running_with_errors' }}
        </mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="portal">
      <th mat-header-cell *matHeaderCellDef>Portal</th>
      <td mat-cell *matCellDef="let element" class="link">{{ element.portal }}</td>
    </ng-container>

    <ng-container matColumnDef="KWP">
      <th mat-header-cell *matHeaderCellDef>kWp</th>
      <td mat-cell *matCellDef="let element">{{ element.kwp }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>System Name</th>
      <td mat-cell *matCellDef="let element" class="link">{{element.system_name}}</td>
    </ng-container>

    <ng-container matColumnDef="tested">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tested</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon *ngIf="!element.tested" [style.color]="'#e00'">remove</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

