<div class="range">
  <mat-icon [style.color]="'#1287DE'">restart_alt</mat-icon>

  @if (minMaxKwp | async; as values) {
    <mat-slider [disableRipple]="true" [min]="values.min" [max]="values.max">
      <input value="{{values.min}}" (valueChange)="minUpdate($event)" matSliderStartThumb>
      <input value="{{values.max}}" (valueChange)="maxUpdate($event)" matSliderEndThumb>
    </mat-slider>
  }

  <span>KWP</span>
</div>
<mat-form-field appearance="outline" class="custom-select">
  <mat-select multiple [formControl]="controls.activityControl">
    <mat-option *ngFor="let status of systemStatuses" [value]="status">{{ status }}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="outline" class="custom-select">
  <mat-select multiple [formControl]="controls.portalControl">
    @for (portal of portals | async; track portal) {
      <mat-option [value]="portal">{{ portal }}</mat-option>
    }
  </mat-select>
</mat-form-field>

<mat-form-field appearance="outline" class="custom-select">
  <mat-select multiple [(value)]="tag">
    <mat-option [value]="tag" *ngFor="let tag of tags">{{tag}}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="outline" class="custom-select">
  <mat-select multiple [(value)]="region">
    <mat-option *ngFor="let region of regions" [value]="region">{{ region }}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="outline" class="custom-select">
  <mat-select placeholder="All clients" multiple [formControl]="controls.clientsControl" panelClass="filter-multi-selector">
    <mat-select-trigger>
      {{ (numberOfClients | async) + ' cli. selected'  }}
    </mat-select-trigger>
    <mat-form-field class="input" appearance="outline">
      <input matInput placeholder="Search..." [formControl]="controls.clientsSearchControl" />
    </mat-form-field>
    <mat-option *ngFor="let clients of (controls.clientsControl.valueChanges | async)" [value]="clients">{{ clients.name || '' }}</mat-option>
    <div class="filter-multi-selector-scroll">
      <mat-option *ngFor="let clients of (controls.clients | async)" [value]="clients">{{ clients.name || '' }}</mat-option>
    </div>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="outline" class="custom-select">
  <mat-select placeholder="All Systems" multiple [formControl]="controls.systemsControl" panelClass="filter-multi-selector">
    <mat-select-trigger>
      {{ (numberOfSystems | async) + ' sys. selected'  }}
    </mat-select-trigger>
    <mat-form-field class="input" appearance="outline">
      <input matInput placeholder="Search..." [formControl]="controls.systemsSearchControl" />
    </mat-form-field>
    <mat-option *ngFor="let system of (controls.systemsControl.valueChanges | async)" [value]="system">{{ system.system_name }}</mat-option>
    <div class="filter-multi-selector-scroll">
      <mat-option *ngFor="let system of (controls.systems | async)" [value]="system">{{ system.system_name }}</mat-option>
    </div>
  </mat-select>
</mat-form-field>
