:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1 1 1px;
}

.headline-1 {
  display:flex;
  flex: 0 0 auto;
}

.alert-3 {
  color: #d50000;
}

.alert-2 {
  color: #ff6c00;
}

table {
  width: 100%;
}

mat-chip-listbox {
  display: flex;
}

.row {
  display: flex;
  align-items: center;
}

.table-container {
  display: flex;
  flex: 1 1 1px;
  flex-direction: column;
  overflow: auto;
}

.viewport {
  display: flex;
  flex: 1 1 1px;
  width: 100%;
}

table {
  width: 100%;

}

mat-chip-option {
  mat-progress-spinner {
    margin-left: 5px;
  }
}

.inner {
  background-color: #afafaf;
  color: #fff;
  text-align: right;
  .log-text {

  }
  .log-action {
    width: 10%;
  }
  .log-by {
    width: 15%;
  }
  .log-time {
    width: 200px;
  }
}

th {
  z-index: 19!important;
}

.edit-button {
  color: #2196F3;
}

mat-chip-listbox {
  app-severity-icon {
    margin-right: 5px;
  }
}

.main-spinner {
  margin: auto;
}

.add-malfunction-button {
  margin-left: 8px;

  mat-icon {
    background-repeat: no-repeat;
    display: inline-block;
    color: #f44336;
    height: 24px;
    width: 24px;
  }
}

.filters {
  display: flex;
  align-items: center;
  justify-content: center;
}

.download-xls {
  margin-right: 8px;
  img {
    width: 18px; height:18px;
  }
}
