<h2 mat-dialog-title class="title-row">
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</h2>

<mat-dialog-content [formGroup]="form">
  <div class="form-line area">
    <mat-form-field appearance="outline">
      <textarea matInput formControlName="text" rows="5"></textarea>
    </mat-form-field>
    <label>{{ 'malfunction.logs.text' | translate }}</label>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-flat-button mat-dialog-close>
    {{ 'cancel' | translate }}
  </button>
  <button mat-flat-button color="primary" (click)="save()">
    {{ 'save' | translate }}
  </button>
</mat-dialog-actions>
