<h2 mat-dialog-title>{{ 'system_settings.connect_to_portal' | translate }} ({{ data?.type }})</h2>

<mat-dialog-content>
  <div class="app-input-field">

    @for (input of inputs; let i = $index; track input;) {
      @if (isRequired(i)) {
        <div class="form-line">
          <mat-form-field appearance="outline" color="accent">
            <input matInput
                   [name]="'API-input-' + i"
                   [formControl]="systemApi.at(i)"
            >
          </mat-form-field>
          <label>{{ input | translate }}</label>
        </div>
      }
    }
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>{{ 'system_settings.cancel' | translate }}</button>
  <button mat-flat-button color="primary"
          [mat-dialog-close]="getNormalizedApiId()"
          [disabled]="systemApi.invalid">
    {{ 'system_settings.save' | translate }}
  </button>
</mat-dialog-actions>
