@if(layout| async; as url) {
  @if (url === 'report-preview') {
    <router-outlet></router-outlet>
  } @else {
    <mat-sidenav-container class="main-container" autosize [hasBackdrop]="true">
      <app-header [headerTitle]="titleTranslated | async"></app-header>
      <router-outlet (activate)="setTitle($event)"></router-outlet>

      <mat-drawer #drawer mode="over" position="end" class="black-sidenav">
        <div class="sidenav-col">
          <div class="sidenav-header">
            <button mat-icon-button (click)="toggle.next(null)">
              <mat-icon>close</mat-icon>
            </button>
            <img src="logo-o.png" />
          </div>
          <div class="sidenav-content">
            <button mat-button color="white" (click)="redirect('systems')">
              {{ 'sidenav.system_monitoring' | translate }}
              <mat-icon color="yellow">stacked_line_chart</mat-icon>
            </button>

            <button mat-button color="white" (click)="redirect('routine-check')">
              {{ 'sidenav.routine_check' | translate }}
              <mat-icon color="yellow">pending_actions</mat-icon>
            </button>

            <button mat-button color="white" (click)="redirect('malfunctions')">
              {{ 'sidenav.malfunctions' | translate }}
              <mat-icon color="yellow">notifications_active</mat-icon>
            </button>

            <button mat-button color="white" (click)="redirect('reports')">
              {{ 'sidenav.reports' | translate }}
              <mat-icon color="yellow">leaderboard</mat-icon>
            </button>

            <button mat-button color="white" (click)="redirect('management')">
              {{ 'sidenav.management' | translate }}
              <mat-icon color="yellow">supervised_user_circle</mat-icon>
            </button>

            <button mat-button color="white" (click)="creteSystem()">
              {{ 'sidenav.create_system' | translate }}
              <mat-icon color="yellow">edit</mat-icon>
            </button>

            <button mat-button color="white" (click)="redirect('washes')">
              {{ 'sidenav.washes' | translate }}
              <mat-icon color="yellow">wash</mat-icon>
            </button>

            <button mat-button color="white" (click)="redirect('users')">
              {{ 'sidenav.users' | translate }}
              <mat-icon color="yellow">people</mat-icon>
            </button>

            <button mat-button color="white" (click)="redirect('settings')">
              {{ 'sidenav.settings' | translate }}
              <mat-icon color="yellow">tune</mat-icon>
            </button>

            <button mat-button color="white" (click)="redirect('system-settings')">
              {{ 'sidenav.system_settings' | translate }}
              <mat-icon color="yellow">settings</mat-icon>
            </button>

            @if (feature.energyPartitionDaily) {
              <button mat-button color="white" (click)="redirect('energy-update-partition')">
                Partition Daily
                <mat-icon color="yellow">cloud</mat-icon>
              </button>
            }

            <button mat-button color="white" (click)="logout()">
              {{ 'sidenav.go_out' | translate }}
              <mat-icon color="red">follow_the_signs</mat-icon>
            </button>
          </div>
        </div>
      </mat-drawer>
    </mat-sidenav-container>
  }
}

