:host {
  .content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: 400px;
  }

  .form-line {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    gap: 20px;

    mat-form-field {
      width: 100%;
    }
  }

  mat-dialog-actions {
    justify-content: flex-end;
  }

  mat-dialog-content {
    overflow: hidden;
  }
}
