<div class="container">
  <div class="table-container page-table header80">
    <table
      mat-table
      [dataSource]="dataSource"
      [trackBy]="trackTable"
      matSort
    >
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> {{ 'washes.systemName' | translate }} </th>
        <td mat-cell *matCellDef="let element">
          <a class="link" href="javascript:void(0)">{{ element.name }}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="clientName">
        <th mat-header-cell *matHeaderCellDef> {{ 'washes.clientName' | translate }} </th>
        <td mat-cell *matCellDef="let element">
          <a class="link" href="javascript:void(0)">{{ element.clientName }}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="washType">
        <th mat-header-cell *matHeaderCellDef> {{ 'washes.washType' | translate }} </th>
        <td mat-cell *matCellDef="let element">
          {{washTypes[element.system.washType]}}
        </td>
      </ng-container>

      <ng-container matColumnDef="KWP">
        <th mat-header-cell *matHeaderCellDef> {{ 'kWp' | translate }} </th>
        <td mat-cell *matCellDef="let element">
          {{element.KWP | number:'1.0-0'}}</td>
      </ng-container>

      <ng-container matColumnDef="washRate">
        <th mat-header-cell *matHeaderCellDef> {{ 'washes.washRate' | translate }} </th>
        <td mat-cell *matCellDef="let element">
          ₪
          {{(element.system.washRate || 0) | number:'1.2-2'}}
        </td>
      </ng-container>

      <ng-container matColumnDef="week1">
        <th mat-header-cell *matHeaderCellDef> {{ 'washes.week1' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element.system.past1Week | number:'1.2-2'}} </td>
      </ng-container>

      <ng-container matColumnDef="week2">
        <th mat-header-cell *matHeaderCellDef> {{ 'washes.week2' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element.system.past2Week | number:'1.2-2'}} </td>
      </ng-container>

      <ng-container matColumnDef="week3">
        <th mat-header-cell *matHeaderCellDef> {{ 'washes.week3' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element.system.past3Week | number:'1.2-2'}} </td>
      </ng-container>


      <ng-container matColumnDef="sinceLastWash">
        <th mat-header-cell *matHeaderCellDef> {{ 'washes.sinceLastWash' | translate }} </th>
        <td mat-cell *matCellDef="let element" style="font-weight: bold;"> {{element.daysFromLast ?? ''}} </td>
      </ng-container>

      <ng-container matColumnDef="lastWashDate">
        <th mat-header-cell *matHeaderCellDef>
          <app-sort-header
            [active]="sortParams | async"
            column="lastWashDate"
            (onSort)="onSort($event)"
          ></app-sort-header>
          {{ 'washes.lastWashDate' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          <a class="link" href="javascript:void(0)">
            {{element.lastWashDate ? (element.lastWashDate | date:'dd/MM/yyyy') : ''}}
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="washDone">
        <th mat-header-cell *matHeaderCellDef> {{ '' | translate }} </th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox [checked]="element.washDone" [disabled]="!element.nextWash"></mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="potential">
        <th mat-header-cell *matHeaderCellDef> {{ 'washes.potentialRate' | translate }} </th>
        <td mat-cell *matCellDef="let element">
          {{ element.potential || '' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="nextWash">
        <th mat-header-cell *matHeaderCellDef> {{ 'washes.nextWash' | translate }} </th>
        <td mat-cell *matCellDef="let element">
          <a class="link" href="javascript:void(0)">
            {{element.nextWash ? (element.nextWash | date:'dd/MM/yyyy') : ''}}
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="supplier">
        <th mat-header-cell *matHeaderCellDef> {{ 'washes.supplier' | translate }} </th>
        <td mat-cell *matCellDef="let element"> <a class="link" href="javascript:void(0)">{{element.lastWash?.supplier || ''}}</a> </td>
      </ng-container>

      <ng-container matColumnDef="numOfWashes">
        <th mat-header-cell *matHeaderCellDef> {{ 'washes.numOfWashes' | translate }} </th>
        <td mat-cell *matCellDef="let element">
            {{element.numOfWashes || ''}}
        </td>
      </ng-container>

      <ng-container matColumnDef="comment">
        <th mat-header-cell *matHeaderCellDef> {{ 'washes.comment' | translate }} </th>
        <td mat-cell *matCellDef="let element">
          @if(element.lastWash) {
            <button mat-icon-button>
              <mat-icon>{{element.lastWash.comment ? 'error' : 'error_outline'}}</mat-icon>
            </button>
          }
        </td>
      </ng-container>

      <ng-container matColumnDef="addWash">
        <th mat-header-cell *matHeaderCellDef> {{ 'washes.addWash' | translate }} </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button>
            <mat-icon class="iconic_blue">add_circle</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


  </div>
</div>
