<div class="card-body">
  <div class="actions">
    <div class="action-row">
      <button mat-flat-button color="primary" disabled>
        {{ 'settings.energy.hourLabel' | translate }}
      </button>
      <p>{{ 'settings.energy.descriptions.hour' | translate }}</p>
    </div>

    <div class="action-row">
      <button mat-flat-button color="primary" disabled>
        {{ 'settings.energy.dayLabel' | translate }}
      </button>
      <p>{{ 'settings.energy.descriptions.day' | translate }}</p>
    </div>

    <div class="action-row">
      <button mat-flat-button color="primary" disabled>
        {{ 'settings.energy.monthLabel' | translate }}
      </button>
      <p>{{ 'settings.energy.descriptions.month' | translate }}</p>
    </div>
  </div>

  <p class="placeholder-text">
    {{ 'settings.placeholder.message' | translate }}
  </p>
</div>


