#months-grid {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(12, minmax(0, auto));
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 1em;
  & > div {
    display: contents;
  }
  p {
    width: 100%;
    text-align: center;
  }
  ::ng-deep.mat-form-field-flex {
    padding: 0 0.25em !important;
  }
}


mat-form-field {
  min-width: 45px;
  width: 100%;
}
