@use '@angular/material' as mat;
@use './app/theme/palette' as palette;

@include mat.core();

$theme: mat.define-theme((
  color: (
    primary: palette.$custom-primary-palette,
  ),
  typography: (
    brand-family: 'Inter',
    regular-weight:400,
    bold-weight: 600,
    medium-weight: 600

  ),
  density: (
    scale: -1
  )
));

html {
  @include mat.core-theme($theme);
  @include mat.card-theme($theme);
  @include mat.progress-bar-theme($theme);
  @include mat.tooltip-theme($theme);
  @include mat.form-field-theme($theme);
  @include mat.input-theme($theme);
  @include mat.select-theme($theme);
  @include mat.autocomplete-theme($theme);
  @include mat.dialog-theme($theme);
  @include mat.chips-theme($theme);
  @include mat.slide-toggle-theme($theme);
  @include mat.radio-theme($theme);
  @include mat.slider-theme($theme);
  @include mat.menu-theme($theme);
  @include mat.list-theme($theme);
  @include mat.paginator-theme($theme);
  @include mat.tabs-theme($theme);
  @include mat.checkbox-theme($theme);
  @include mat.button-theme($theme);
  @include mat.icon-button-theme($theme);
  @include mat.fab-theme($theme);
  @include mat.snack-bar-theme($theme);
  @include mat.table-theme($theme);
  @include mat.progress-spinner-theme($theme);
  @include mat.badge-theme($theme);
  @include mat.bottom-sheet-theme($theme);
  @include mat.button-toggle-theme($theme);
  @include mat.datepicker-theme($theme);
  @include mat.divider-theme($theme);
  @include mat.expansion-theme($theme);
  @include mat.grid-list-theme($theme);
  @include mat.icon-theme($theme);
  @include mat.sidenav-theme($theme);
  @include mat.stepper-theme($theme);
  @include mat.sort-theme($theme);
  @include mat.toolbar-theme($theme);
  @include mat.tree-theme($theme);
}

body {
  background-color: rgb(219 226 235);
}
:root {
  --max-width: 1428px;
  --mat-form-field-container-height: 30px;
  --mat-form-field-container-vertical-padding: 10px;
  --mat-table-header-container-height: 39px;
  --mat-table-row-item-container-height: 39px;
  --mat-table-header-headline-font: 'Inter', sans-serif;
  --mat-table-row-item-label-text-font: 'Inter', sans-serif;
  --mat-select-trigger-text-font:  'Inter', sans-serif;
  --mdc-filled-text-field-label-text-font: 'Inter', sans-serif;
  --mdc-filled-text-field-label-text-size: 12px;
  --mdc-filled-text-field-label-text-tracking: 12px;
  --mdc-filled-text-field-label-text-weight: 500;
  --mdc-outlined-text-field-label-text-font: 'Inter', sans-serif;
  --mdc-outlined-text-field-label-text-size: 12px;
  --mdc-outlined-text-field-label-text-tracking: 12px;
  --mdc-outlined-text-field-label-text-weight: 400;
  --mat-form-field-container-text-font: 'Inter', sans-serif;
  --mat-form-field-container-text-line-height: 12px;
  --mat-form-field-container-text-size: 12px;
  --mat-form-field-container-text-tracking: normal;
  --mat-form-field-container-text-weight: 500;
  --mat-form-field-outlined-label-text-populated-size: 12px;
  --mat-form-field-subscript-text-font: 'Inter', sans-serif;
  --mat-form-field-subscript-text-line-height: 20px;
  --mat-form-field-subscript-text-size: 12px;
  --mat-form-field-subscript-text-tracking: 12px;
  --mat-form-field-subscript-text-weight: 500;
  --mat-table-header-headline-size: 12px;
  --mat-table-row-item-label-text-size: 12px;
  --mat-select-trigger-text-size: 12px;
  --mat-select-trigger-text-line-height: 18px;
  --mdc-filled-button-container-shape: 2px;
  --mdc-filled-button-label-text-weight: 500;
  --mdc-filled-button-label-text-size: 12px;
  //--mat-form-field-container-text-size: 40px;
}

.mat-mdc-row:nth-child(odd) {
  background-color: #f2f2f2;
}

mat-icon {
  vertical-align: middle;
}

[matColumnDef="notes"] mat-icon {
  color: grey;
}

[matColumnDef="communication"] mat-icon {
  color: #4caf50;
}

:root {
  --mdc-filled-button-container-height: 25px;
}
button[mat-button][mat-flat-button] {
  color: #ffffff;
  background-color: #C80005;
  border-radius: 4px;
  font-size: 12px;
  padding: 0 0 0 20px;
  width: 78px;
  justify-content: center;
  position: relative;
  .arrow {
    position: absolute;
    top: 0;
    left: 0px;
    width: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    border-right: 1px solid #9e0003;
  }
}

button[mat-button][mat-flat-button] mat-icon {
  margin-right: 4px;
}

button[mat-button][mat-flat-button]:hover {
  background-color: #d32f2f;
}


mat-form-field {
  background-color: #ffffff;
  border-radius: 8px;
}

th.mat-header-cell {
  background-color: #e0e0e0;
  font-weight: 600;
}

mat-form-field {
  width: 200px;
  margin-right: 12px;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 4px 8px;
}

mat-form-field .mat-form-field-label {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

mat-select {
  font-size: 14px;
  color: #333;
}

mat-option {
  font-size: 14px;
  padding: 8px 16px;
}

mat-select[multiple] {
  padding: 4px 0;
}

.mat-select-arrow {
  color: #555;
  right: 8px;
}

.mat-select-panel {
  background-color: #f5f5f5;
  border-radius: 4px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.mat-option.mat-active, .mat-option:hover {
  background-color: #e0e0e0;
  color: #333;
}

.mat-form-field-underline {
  background-color: #d3d3d3;
}


.mat-chip-list-wrapper {
  max-height: 40px;
  overflow: hidden;
}

app-filters {
  margin: 10px auto;
}

//mine
mat-form-field {
  background-color: transparent;
  margin: 24px 0 0 0;
  position:relative;

  .mdc-text-field {
    background-color: #fff;
    border-radius:4px;
  }

  .mat-mdc-form-field-infix {
    padding:0;
  }

  .mat-mdc-select-trigger {
    flex-direction: row-reverse;

    .mat-mdc-select-value {
      text-align: right;
      color: #8E8B8B;
    }
  }

  label {
    position: absolute;
    top: -20px;
    left: 0;
    right: -14px;
    text-align: end;
    color: #8D8A8A;
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 20px;
  }


}

.mdc-text-field--outlined .mat-mdc-form-field-infix, .mdc-text-field--no-label .mat-mdc-form-field-infix {
  padding: 0!important;
}

.container {
  display: flex;
  flex-direction: column;
  border: 1px solid #c3c3c3;
  background-color: #fff;
  border-radius: 4px;

  margin:8px 17px;

  & > * {
    margin: 4px;
  }
}

.mdc-data-table__cell, .mdc-data-table__header-cell {
  padding: 0 10px!important;
  text-align: center!important;
}

.mat-cell, .mat-header-cell, .mat-mdc-cell, .mat-mdc-header-cell {
  border: none !important;
}

.mat-column {
  &-notes { width: 60px; }
  &-actions { width: 96px; }
  //&-openAlerts { width: px; }
  //&-clearedAlerts { width: px; }
  //&-startOfYear { width: px; }
  //&-startOfMonth { width: px; }
  //&-lastMonth { width: px; }
  //&-today { width: px; }
  //&-monthly { width: px; }
  //&-weekly { width: px; }
  //&-threeDays { width: px; }
  //&-yesterday { width: px; }
  //&-communication { width: px; }
  //&-portal { width: px; }
  //&-kWp { width: px; }
  //&-systemName { width: px; }
  //&-tested { width: px; }


}

.mat-typography, .mat-form-field, .mat-button, .mat-card, body, mat-table {
  font-family: 'Inter', sans-serif !important;
  font-size: 12px;
}

.headline-1 {
  display:flex;
  flex: 0 0 20px;
  margin: 8px;
  justify-content: center;
  align-items: center;
  span {
    color: #5FD35E;
    padding: 0 2px;
  }
}

.mat-mdc-table {
  min-width: unset!important;
  margin-top:-4px;
}

.headline-2 {
  display:flex;
  flex: 0 0 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;

  border-bottom: 2px #eee solid;

  div {
    padding: 12px 0 14px 0;
  }
}

.link {
  color: #1287DE;
}

body {
  margin: 0;
}

.mdc-notched-outline__leading {
  border-color: #c3c3c3 !important;
}
.mdc-notched-outline__notch {
  border-color: #c3c3c3 !important;
}
.mdc-notched-outline__trailing {
  border-color: #c3c3c3 !important;
}

.bell-button {
  img {
    width: 18px;
    margin-top: 4px;
  }
}

.iconic_blue {
  color: #4585e0;
}

.iconic_grey {
  color: #141415;
}

.iconic_green {
  color: #70bc4e;
}

.iconic_orange {
  color: #ec5100;
}

.iconic_red {
  color:#e00;
}

:root {
  --mdc-slider-focus-handle-color: #1287DE;
  --mdc-slider-handle-color: #1287DE;
  --mdc-slider-active-track-color: #1287DE;
  --mdc-slider-inactive-track-height: 1px;
  --mdc-slider-active-track-height: 2px;
  --mdc-slider-handle-width: 10px;
  --mdc-slider-handle-height: 10px;
}
mat-slider {
  .mat-ripple {
    display: none!important;
  }
  .mdc-slider__thumb {
    height: 30px!important;
  }
}

.mat-mdc-form-field-input-control.mat-mdc-form-field-input-control  {
  letter-spacing: 0.375px!important;
}

.mat-mdc-form-field-infix {
  display: flex;
  align-items: center;
}

:root {
  --mdc-outlined-text-field-input-text-placeholder-color: #8E8B8B;
}

input {
  font-weight: 400!important;
}

.fullscreen-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: url('./../public/background.jpg') no-repeat center center / cover;
}

:root {
  --mdc-filled-button-container-color: #2196F3;
  --mat-app-primary: #2196F3;
}

h1 {
  color: #2196F3;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

button.mat-flat-button {
  color: white !important;
  font-weight: 500;
  text-transform: none;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
}
